*{
  box-sizing: border-box;
}
/* add some spacing */
body          {
  background: #F6F6F6;
  padding-bottom: 30px;
}
form {
  /* background-color: #E8DFE0; */
  width: fit-content;
  padding: 1.5em;
  text-align: center;
}

div.form-element {
  border: 1px;
  border-color: black;
  border-style:ridge;
  border-top-color: grey;
  border-bottom-color: white;
  padding: 0.50em;
  margin: 0.50em;
}


.bg-nav-dimgray {
  background-color: #2a7b51 !important;
}

.calculator{
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
}

.calc-button{
  background: rgba(0,0,0,0.5); /* light background*/
  border: 1px  solid #111; /* black border */
  padding: 20px;
  color: #EEE;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
}

.calculator input {
  /*reset basic form styles*/
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid #111;
  color: #333;
  text-align: right;
  font-size: 40px;
  border-radius: 0;
}
.calculator-buttons {
  /* small spacing within our container */
  padding: 20px;

  /* the grid stuff! */
  display: grid;

  /* create 4 columns */
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bg-nav-dimgray {
  background-color: #2a7b51 !important;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}
