

.bg-nav-dimgray {
  background-color: #2a7b51 !important;
}

ul#list {
  text-align: center;
  margin: 1rem;
  /* background: #cbd4a3; */
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s cubic-bezier(0.4, 0, 1, 1);
}

ul#list:hover {
  box-shadow: 2px 8px 45px rgb(110, 202, 86);
  transform: translate3D(0, -2px, 0);
}

li {
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0.0em;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #060606;
  margin: 15px 80px 10px 15px;
}

img {
  flex-wrap: wrap;
  height: 70px;
  width:55px;
}

form {
  /* background-color: #E8DFE0; */
  width: fit-content;
  padding: 0.5em;
  text-align: center;
}

div.form-element {
  padding: 0.25em;
  margin: 0.25em;
}

.fade-in{
  background-color: white;
  position: relative;
  animation-name: item;
  animation-duration: 1.5s;
  animation-delay: 0.25s;
}

@keyframes item {
  100% {background-color:white; left:0px; top: 0px;}
  75%  {background-color:white; left:0px; top:0px;}
  0%   {background-color:white; left:0px; top:200px;}
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}
