@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
}

.para{
  font-size: 100%;
  color: red;
}

.para2{
  font-size: 1rem;
  color: green;
}

.para3 {
  color: lime;
  font-size: 1em;
  line-height: 34px;
  font-weight: 600;
}

/* 337 divided 16px * 100%
1em equal to 16pxels or 100percent
em helps inherit */
