@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');
$font-stack:  'Poppins', sans-serif;
// ### Primary colours
$primary-red: hsl(0, 78%, 62%);
$primary-cyan:hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);
$primary-title: #585352;
// ### Neutral
$primary-very-dark-blue: hsl(234, 12%, 34%);
$primary-grayish-blue: hsl(229, 6%, 66%);
$primary-very-light-gray: hsl(0, 0%, 98%);

// - Mobile: 375px
// - Desktop: 1440px

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  margin: 40px auto;
  max-width: 500px;
  text-align: center;
}

body{
  background-color: hsl(0, 0%, 98%);
  font-family: 'Poppins', sans-serif;
}

h2 {
  line-height: 1.6;
  color: $primary-title;
  text-align: center;
}

h1 {
  font-weight: 200;
  margin: 0;
}

h1 span {
  font-weight: 600;
}

.card h2 {
  margin: 0;
  text-align: left;
}

p{
  // padding: 0 1.5rem 1.5rem;
  margin: 0;
  color: $primary-grayish-blue;
}

.card p {
  font-size: 14px;
  margin: 15px 0 40px;
}
img{
  display: block;
  margin: 1rem auto;
  margin-right: 10px;
  max-width: 100%;
  float: right;
  padding: 0 1.0rem;
  padding-bottom: 5px;
}

.card-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 0 auto;
  max-width: 1140px;
}

.card{
  background-color: #fff;
  box-shadow:  0 10px 20px rgba(0,0,0.16), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px; //new
  position: relative; //new
  overflow: hidden;
  margin: 15px;
  width: 350px; //new
  transition: all .2 linear;
  z-index: -1;
}


.card:hover{
  box-shadow: 1px 8px 20px rgba(1,0,1,.55);
}

.supervisor-cyan{
  border-top: 5px solid $primary-cyan;
  padding-left: 10px;
}
.calculator-blue {
  border-top: 5px solid $primary-blue;
  padding-left: 10px;

}
.karma-orange{
  border-top: 5px solid $primary-orange;
  padding-left: 10px;
  transform: translateY(6.5%);
}
.teambuilder-red{
  border-top: 5px solid $primary-red;
  padding-left: 10px;
  transform: translateY(-12.5%);
  margin: 23px 0px 15px 0px; //top right bottom left
}

footer {
  text-align: center;
  clear: both;
  margin : 0;
}


@media screen and (min-width: 775px) {
  .card-push {
    transform: rotateY(0);
  }
}
