@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');
$font-stack:  'Poppins', sans-serif;
// ### Primary colours
$primary-red: hsl(0, 78%, 62%);
$primary-cyan:hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);
$primary-title: #585352;
// ### Neutral
$primary-very-dark-blue: hsl(234, 12%, 34%);
$primary-grayish-blue: hsl(229, 6%, 66%);
$primary-very-light-gray: hsl(0, 0%, 98%);

// - Mobile: 375px
// - Desktop: 1440px

* {
  box-sizing: border-box;
}

 h2 {
  line-height: 1.6;
  color: $primary-title;
  text-align: center;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
}

body{
  font: 15px;
  font-family: $font-stack;
  color: $primary-very-dark-blue;
  // background-color: $primary-blue;
}

.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

p{
  padding: 0 1.5rem 1.5rem;
  margin: 0;
  color: $primary-very-dark-blue;
}

img{
  display: block;
  margin: 1rem auto;
  margin-right: 10px;
  max-width: 100%;
  float: right;
  padding: 0 1.0rem;
  padding-bottom: 5px;
}

.container{
  // display: inline-flex;
  // flex-wrap:  wrap;
}

.card{
  min-width: 200px;
  // margin: 50px 400px 50px 400px;
  margin: 50px 250px;
  background: #F6F6F8;
  box-shadow: 2px 2px 10px rgba(0,0,0.1);
  border-radius: 8px;
  // border-top-style: dashed;
  // text-align: center;
  overflow: hidden;
  transition: all .2 linear;
}


.card:hover{
  box-shadow: 2px 8px 25px rgba(0,0,0,.15);
  transform: translate3d(0,-2px, 0);
}
.supervisor{
    border-top: 5px solid $primary-cyan;
    padding-left: 10px;
}
.calculator{
 border-top: 5px solid $primary-blue;
 padding-left: 10px;
 margin-left: 400px;
}
.karma{
  border-top: 5px solid $primary-orange;
  padding-left: 10px;
}
.teambuilder{
  border-top: 5px solid $primary-red;
  padding-left: 10px;
}
//sass --watch input.scss output.css
@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}


//nesting example...
// nav {
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//   }
//
//   li { display: inline-block; }
//
//   a {
//     display: block;
//     padding: 6px 12px;
//     text-decoration: none;
//   }
// }
