@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');
$font-stack:  'Poppins', sans-serif;
// ### Primary colours
$primary-red: hsl(0, 78%, 62%);
$primary-cyan:hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);
$primary-title: #585352;
// ### Neutral
$primary-very-dark-blue: hsl(234, 12%, 34%);
$primary-grayish-blue: hsl(229, 6%, 66%);
$primary-very-light-gray: hsl(0, 0%, 98%);

// - Mobile: 375px
// - Desktop: 1440px

* {
  box-sizing: border-box;
}

.box-container {
    padding: 0;
    margin: 0;
    top: 0;
}

.head {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60vw;
    display: block;
    line-height: 20px;
    width: 480px;
    margin-bottom: 50px;
}

h2 {
  line-height: 1.6;
  color: $primary-title;
  text-align: center;
}

body{
  font: 15px;
  font-family: $font-stack;
  color: $primary-very-dark-blue;
}

.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

p{
  padding: 0 1.5rem 1.5rem;
  margin: 0;
  color: $primary-very-dark-blue;
}

img{
  display: block;
  margin: 1rem auto;
  margin-right: 10px;
  max-width: 100%;
  float: right;
  padding: 0 1.0rem;
  padding-bottom: 5px;
}

.container{
  display:  flex;
  flex-wrap:  wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1140px;

}

.card{
  // min-width: 200px;
  margin: 15px;
  width: 350px; //new
  background: #fff;
  box-shadow:  0 10px 20px rgba(0,0,0.06), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: all .2 linear;
  padding: 30px; //new
  border-radius: 5px;
  position: relative; //new

}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
}

.card:hover{
  box-shadow: 2px 8px 20px rgba(0,0,0,.015);
  transform: translate3d(0,-2px, 0);
}
.supervisor-cyan{
  border-top: 5px solid $primary-cyan;
  padding-left: 10px;
}
.calculator-blue {
  border-top: 5px solid $primary-blue;
  padding-left: 10px;
  margin-left: 400px;
}
.karma-orange{
  border-top: 5px solid $primary-orange;
  padding-left: 10px;
}
.teambuilder-red{
  border-top: 5px solid $primary-red;
  padding-left: 10px;
}

.teambuilder-red::after {
    background-color: hsl(0, 78%, 62%);
}

footer {
  text-align: center;
}

// sass --watch scss:css
// @media screen and (min-width: 600px) {
//   .card {
//     flex: 1 1 calc(50% - 2rem);
//   }
// }
//
// @media screen and (min-width: 900px) {
//   .card {
//     flex: 1 1 calc(33% - 2rem);
//   }
// }

// .wrapper {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 10px;
// }
//nesting example...
// nav {
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//   }
//
//   li { display: inline-block; }
//
//   a {
//     display: block;
//     padding: 6px 12px;
//     text-decoration: none;
//   }
// }
