/* General page styles MDM https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Fundamental_CSS_comprehension*/
/* Specifity weighting for the four ruleset selectors:
0012/0011/0011/0010 .card, .card header, .card footer,
.card article, respectivly */

body {
  margin: 0;

}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* card setup */
.card{
  width: 40em;
  margin: 5em auto;
  background-color: red;
  border: 0.3em solid black;
  border-radius: 1.5em;
}

.card h2, .card p {
  margin: 0;
}
/* Header and footer */

.card header, .card footer {
  height: 3em; /* 30px */
  padding: 1em;/* 10px */
}
.card header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}

.card footer {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}


.card header h2 {
  font-size: 2em;
  line-height: 1.5;
}

.card footer p {
  font-size: 1.5em;
  line-height: 2;
}
/* Main body of card (article) */
.card article   {
  height: 12em;
  background-color: rgba(0,0,0,0.25);

}

.card article img {
  max-height: 100%;
  float: right;
}
.card article p {
  padding: 1em;
  color: rgba(255,255,255,0.8);
}
