.yellow{
  border: 5px solid black;
  background-color:yellow;
  height:200px;
  width:200px;
}

.red  {
  border: 10px solid black;
  background-color:red;
  padding: 25px 50px 75px 10px;
  /* margin-top: 100px;
  margin-bottom: 100px; */
  /* margin-right: 150px; */
  margin-left: 20%;
  height:200px;
  width:200px;
}

.blue{
  border: 20px solid black;
  margin-left: 40%;
  background-color:blue;
  height:200px;
  width:200px;
}

    /* Content - The content of the box, where text and images appear
    Padding - Clears an area around the content. The padding is transparent
    Border - A border that goes around the padding and content
    Margin - Clears an area outside the border. The margin is transparent */
