
body{
  margin: auto;
  background-repeat: no-repeat;
  background-image: url("pizza.jpg");
  opacity:0.90;
  height: 100%;
  overflow: auto;
  font-family: de-walpergens-pica, verdana;
}

/* h1, h3, p{
color: red;
} */

label {
  display: table-cell;
  margin-bottom: 10px;
}
button{
  /* margin: 400px; */
  text-align: center;
  padding: 10px;
  color: green;
}
input{
  margin: 2px;
  text-align: center;
  padding: 10px;
  color: red;
}

 h1, h2{

  font-size: 18px;
  color:#66BFBF;
  text-align: center;
}

h3{
  text-align: center;
  color: rgb(255, 123, 71);
}
form{
  margin: 30px;
}

a{

}

a:hover: {

}
footer{
  bottom: sticky;
  background-color: silver;
}
