
body{
  margin: auto;
  width: 100%;
  position: absolute;
  font-family: Arial;
}

img{
  min-width: 1024px;
  height : 100%;
  position: inherit;
  background: cover;
  background-repeat: no-repeat;
  background-image: url("pizza.jpg");
  opacity:0.25;
  z-index: -1;
}

label {
  display: table-cell;
  margin-bottom: 10px;
}

button{
  text-align: center;
  padding: 10px;
  color: green;
}
input{
  margin-left: auto;
  text-align: center;
  padding: 10px;
  color: red;
}

h1, h2{
  font-size: 20px;
  color:#66BFBF;
  text-align: center;
}

h3{
  text-align: center;
  font-size: 24px;
  color: rgb(255, 123, 71);
}

form{
  text-transform: capitalize;
  font-size: 16px;
  margin: 10%;
}

}
footer{
  bottom: sticky;
  background-color: silver;
  font-size: 24px;
}
