
body {
  margin: auto;
  width: 100%;
  position: absolute;
  font-family: Arial;
}

img {
  /* min-width: 1024px; */
  width: 100%;
  height : 800px;;
  position: fixed;
  background: cover;
  background-repeat: no-repeat;
  background-image: url("wedding.jpg");
  /* background-image: url("pizza.jpg") */
  /* background-image: url("http://image here...");  */
  opacity:0.25;
  /* background-color: rgb(0,0,0,0.6); */
  z-index: -1;
}

label {
  display: table-cell;
  margin-bottom: 10px;
}

button{
  text-align: center;
  padding: 10px;
  color: green;
}
input{
  margin-left: auto;
  text-align: center;
  padding: 10px;
  color: red;
}

h1, h2{
  font-size: 20px;
  color:#66BFBF;
  text-align: center;
}

h3{
  text-align: center;
  font-size: 24px;
  color: rgb(255, 123, 71);
}

form{
  text-transform: capitalize;
  font-size: 16px;
  margin: 10%;
}

.heading1{
  color:L white;
  font-size: 30px;
}
.heading2{
  color:L white;
  font-size: 70px;
}
/*
.transparents{
background-image: url("wedding.jpg")
height: 100%;
width: 700px;

} */

footer{
  bottom: sticky;
  font-size: 24px;
}
