.main{
  background-image: linear-gradient(65deg, teal 45%, white 55%);
  height: 400px;
  width: 100%;
}
.circle{
  background-color: red;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
}
.circle-move{
  background-color: yellow !important;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute !important;
  right: 200px !important;
}
